<!DOCTYPE html>
<!-- Coding By CodingNepal - www.codingnepalweb.com -->
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Responsive Footer HTML and CSS | CodingNepal</title>
    <!-- Fonts Links For Icon -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css" />
    <link rel="stylesheet" href="style/footer.css" />
  </head>
  <body>
    <footer class="site-footer">
        <div class="container1">
          <div class="row">
            <div class="col-sm-12 col-md-6">
              <h6>About</h6>
              <p class="text-justify">Welcome to OneTimeBlog, a minimalist platform for creating, viewing, and updating blog posts. Here, users can effortlessly publish their stories and make one-time edits to ensure their content is always polished. Enjoy a streamlined blogging experience without the complexity of databases, focusing purely on your creativity and message.</p>
            </div>
  
            <div class="col-xs-6 col-md-3">
              <h6>Languages Used</h6>
              <ul class="footer-links">
                <li>HTML</li>
                <li>CSS</li>
                <li>JAVASCRIPT</li>
                <li>NODE.JS</li>
                <li>EXPRESS.JS</li>
              </ul>
            </div>
  
            <div class="col-xs-6 col-md-3">
              <h6>Quick Links</h6>
              <ul class="footer-links">
                <li><a href="/">Contact Us</a></li>
                <li><a href="/">Home</a></li>
                <li><a href="/create">Create Blog</a></li>
                <li><a href="/update">Update Blog</a></li>
                <li><a href="/blogs">Blogs</a></li>
              </ul>
            </div>
          </div>
          <hr>
        </div>
        <div class="container">
          <div class="row">
            <div class="col-md-8 col-sm-6 col-xs-12">
              <p class="copyright-text">Copyright &copy; 2024 All Rights Reserved by Siddhant Jain
              </p>
            </div>
  
          </div>
        </div>
  </footer>
</body>
</html>