<%- include("partials/header.ejs")%>
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap" rel="stylesheet">
<style>
    h1{
        text-align: center;
        margin-top: 20px;
        margin-bottom: 20px;
        font-family: "Roboto Mono", monospace;
        font-optical-sizing: auto;
        font-weight: 400;
        font-style: normal;
    }
    
</style>
<body>
    
    <h1 >You have Not Created a Post</h1>
</body>

<%- include("partials/footer.ejs")%>